.reset-main{
	background-color: #285475 ;
	height: 100%;
	width: 100%;
	position: fixed;
	
}
.logo{
	margin-top: 20px;
	width: 150px;
	height: 70px;
	flex-shrink: 0;
	
}
.reset-form{
	margin-left: 35px;
	
}
.reset-pass{
	display: block;
	position: fixed;
	width: 1200px;
	height: 680px;
	flex-shrink: 0;
	border-radius: 40px;
	background: #FFF;
	flex-wrap: wrap;
	margin-top: 40px;
	margin-left: 190px;

}
.reset-txt{
	color: #000;
	font-family: Inter;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin-left:30%;
	margin-top: 80px;
}
.reset-hr{
	border: 0;
	border-color: #285475;
	background-color: #285475;
	width: 190px;
	height: 3px;
	margin-left: 38%;
}
.otp-txt{
width: 420px;
height: 45px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #285475;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
margin-left: 25%;
margin-top: 5%;
margin-bottom: 2%;
}
.newpass-txt{
	width: 420px;
	height: 45px;
	flex-shrink: 0;
	border-radius: 20px;
	border: 1px solid #285475;
	background: #FFF;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	text-align: center;
  margin-left: 25%;
	margin-bottom: 2%;
}
.reset-btn{
	width: 200px;
	height: 50px;
	flex-shrink: 0;
	border-radius: 25px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	background: #B6DCE9;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin-left: 38.5%;
  margin-top: 2%;
	font-size: larger;
	font-family: sans-serif;
}
.reset-btn:hover{
	background-color: #5CA3DC;
}
.error{
	margin-top: 30px;
	margin-left: 50px;
}
.logo{
image-resolution: 100%;
border-radius: 15px;
margin-bottom: -20px;
}
.reset-img{
	width: 45%;
	height: 94%;
	right: 30px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: #B6DCE9;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	position: absolute;

}
.reset-img img{
	width: 100vh;
	height: 70vh;
	margin-top: 6%;
	margin-left: -240px;
	flex-shrink: 0;

}

.signinError1{
	margin-left: 170px;
	color: red;
	margin-top: -20px;
}
.signinError2{
	margin-left: 110px;
	color: red;
	margin-top: -20px;
	margin-bottom: 25px;
}


