
.studentTxt{
    font-family: sans-serif;
    margin: 30px;
    margin-top: 7%;
}
.studentTxt hr{
  border: 0;
  border-color: #285475;
  background-color: #285475;
  width: 140px;
  height: 2px;
  margin-top: 5px;
  margin-left: 10px;
}
.student-table{
  width: 70%;
  table-layout: fixed;
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 300px;
  border-spacing: 0;
  }
.student-table th,td{
  border: 1px solid black;
  padding: 0.5rem;
  text-align:center;
      
  }
.student-table th{
    background-color: #5390c2af;
    color: #fff;
    text-align: center;
    
  }
.student-table td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } 
.schedule-txt{

  font-size: xx-large;
  text-align: center;
  font-family: sans-serif;

}
  /*
  tr:first-child th:first-child{
    border-top-left-radius: 30px;
  }
  tr:first-child th:last-child{
    border-top-right-radius: 30px;
  }
  
  tr:last-child td:first-child{
    border-bottom-left-radius: 30px;
  }
  
  tr:last-child td:last-child{
    border-bottom-right-radius: 30px;
  }
  */