.exam-screen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.exam{
    font-family: sans-serif;
    margin: 30px;
  }
.exam hr{
    border: 0;
    border-color: #285475;
    background-color: #285475;
    width: 100px;
    height: 2px;
    margin-top: 5px;
    margin-left: 10px;
  }
.examphoto{
  width:110vh;
  height:50vh;
  margin-left:20%;
  background-color:#80A7C6;
  padding-left:150px;
  padding-right:150px;
  border-top-left-radius:30px;
  border-top-right-radius:30px;
}
.examphoto img{
  width:180vh;
  height:55vh;
  display: block;
  position: relative;
  right: 70%;
}
.Exam-sch{
  width: 80%;
  table-layout: fixed;
  margin-left: 8%;
  margin-top: 50px;
  margin-bottom: 150px;
  border-spacing: 0;
  
}
.Exam-sch th,
.Exam-sch td{
  border: 1px solid black;
  padding: 0.5rem;
  text-align:center;
  
}
.Exam-sch th{
  background-color: #5390c2af;
  color: #fff;
  text-align: center;
}
.Exam-sch td{
  text-overflow: ellipsis;
}
