.forget-main{
  background-color: #285475 ;
	height: 100%;
	width: 100%;
	position: fixed;
}
.logo{
	margin-top: 20px;
	width: 150px;
	height: 70px;
	flex-shrink: 0;
}
.forget-pass{
  width: 1200px;
	height: 680px;
	flex-shrink: 0;
	border-radius: 40px;
	background: #FFF;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-left: 190px;
}
.forget-txt{
  color: #000;
	font-family: Inter;
	font-size: 32px;
	font-style: normal;
	font-weight: 450;
	line-height: normal;
	margin-left:10%;
	margin-top: 20px;
}
.forget-pass hr{
  border: 0;
	border-color: #285475;
	background-color: #285475;
	width: 170px;
	height: 3px;
	margin-left: 18%;
}
.forget-img{
	width: 34.3%;
	height: 77%;
	right: 235px;
	margin-top: 20px;
	border-radius: 20px;
	background-color: #B6DCE9;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	position: absolute;


}
.forget-log{
	margin-left: 35px;
	padding-top: 50px;
}
.forget-img img{
	width: 100vh;
	height: 70vh;
	margin-top: 6%;
	margin-left: -240px;
	flex-shrink: 0;

}
.email-txt{
  width: 420px;
height: 45px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #285475;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
margin-left: 3%;
margin-top: 3%;
}
.otp-txt{
width: 420px;
height: 45px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #285475;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
margin-left: 3%;
margin-top: 3%;
}
.newpass-txt{
  width: 420px;
height: 45px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #285475;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
margin-left: 3%;
margin-top: 3%;
}
.conf-txt{
  width: 420px;
height: 45px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #285475;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-align: center;
margin-left: 3%;
margin-top: 3%;
}
.forget-btn{
  width: 170px;
  height: 50px;
  background-color:#B6DCE9 ;
  border-radius: 15px;
  border: 0 solid;
  margin-left: 150px;
  margin-top: 40px;
  font-size: 22px;
	font-weight: 500;
  font-family:Arial, Helvetica, sans-serif;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.forget-btn:hover{
  background-color: #5CA3DC;
}
.error{
	color: red;
	margin-left: 165px;
	margin-top: 10px;
	font-size: 14px;
}